.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}
.address{
    font-size: 70%;
    margin:0px;
    color: black;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #512DAB;
}
.home_pic{
    margin-top: -5%;
    padding: 1px 1px 1px 1px;
    width: 25px;
    height: 25px;
}
.info_pic{
    margin-top: -5%;
    padding: 1px 1px 1px 1px;
    width: 25px;
    height: 25px;
}
.menu_pic{
    margin-top: -5%;
    padding: 1px 1px 1px 1px;
    width: 25px;
    height: 25px;
}
.contact_pic{
    margin-top: -5%;
    padding: 1px 1px 1px 1px;
    width: 25px;
    height: 25px;
}
